p{
    font-family: "Roboto Slab", serif;
    font-size:30px;
}

img{
    width:150px;
}

h1{
    font-family: "BBH Sans Hegarty", sans-serif;
    font-size:60px;
    text-align:center;
}

#door-sign-template{
    width:800px;
    text-align: center;
}

.letterpanelhide{
    display:none;
}


.letterpanelshow{
    display:block;
}