#typewriter h1{
overflow:hidden;
border-right: 0.7em solid rgb(222, 35, 172);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.50em;
    animation: 
    typing 3s steps(30, end),
    blink-caret .75s step-end infinite;
}

#typewriter2 h1{
    overflow:hidden;
    border-right: 0.7em solid rgb(250, 40, 142);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.50em;
    animation: 
    typing 3s steps(30, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {width:0}
    to {width:100%}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}